<% include partials/header %>
<h1>Results Page!!!</h1>
<p>
	 RESULT FOR-
</p>
<!-- <button href="/">Search Again!</button> -->



<div class="container-fluid">
	<form action="/back" method="POST">
	<button >PLAYLISTS</button>
    </form>
	<p>
		<%=idp%>
	</p>
    <form action="/newplaylist/<%=idp%>" method="GET">
		<input type="text" placeholder="name" name="plyname">
		<input type="submit">
	</form>
	<ul  class="list-group">
		<% playlists.forEach(function(song) { %>
		  <li class="list-group-item">
			  <strong>
				  <%= song["name"] %> -
			  </strong>
			  <form action="/showplay/<%=idp%>/<%=song._id%>" method="GET">
				<input type="submit">
			  </form>
		  </li>
		<% }) %>

	</ul>

</div>




<% include partials/footer %>