<% include partials/header %>
<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="container">
	<% if(successMessages) {%>
		<% successMessages.forEach((message)=>{ %>
			  <div class="alert alert-success alert-dismissible alert-delete">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p style="text-align: center;"><strong>Success:</strong> <%= message %></p>
			  </div>
		  <%})%>
	<%}%>
</div>	


<div class="container">
	<div class="alert alert-success">
		<form action="/back" method="POST">
			<button class="btn btn-outline-success my-2 my-sm-0" role="button" >Search Again!</button>	
		</form>
	</div>
</div>


<div class="container">

	<h2><%=Playlist.name%></h2>

	<audio src=<%= play%> controls autoplay>
		Your browser does not support the audio element.
	</audio>

    <div class="row row-cols-1 row-cols-md-3">
		<% Playlist.playlist.forEach(function(song) { %>
            <div class="col mb-4">
                <div class="card-transparent h-100">
                    <img src="<%=song["image"] %>" class="card-img-top" alt="...">
                    <div class="card-body">
						<h4 class="card-title"><strong><%= song["name"] %></strong></h4>
						<p class="card-text"><%=song["artist"]%></p>
						<form action=/playsong/<%=Playlist._id %>/<%=song._id %> method="GET">
							<input class="btn btn-outline-success my-2 my-sm-0" role="button" type="submit" value="play">
						</form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>
