<% include partials/header %>

	<form action="/back" method="POST">
	<button >Search Again!</button>
	</form>

<div class="container-fluid">
	<h2><%=Song.name%></h2>
	

	<audio src=<%= play%> controls autoplay>
     Your browser does not support the audio element.
    </audio>
	
	<ul  class="list-group">
		<% Song.playlist.forEach(function(song) { %>
		  <li class="list-group-item">
			   <img src=<%=song["image"] %>>
			  <strong>
				  <%= song["name"] %> -
			  </strong>
			        <%= song["artist"] %> -
			  
			  <form action="/playsong/<%=Song._id %>/<%=song._id %>" method="get">
				<input type="submit" value="play">
			  </form>
		  </li>
		<% }) %>

	</ul>

</div>


<% include partials/footer %>