<% include partials/header %>

<link href="css/login.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="alert alert-light" role="alert">
		<form action="/back" method="POST">
		<button class="btn btn-outline-success my-2 my-sm-0">Search Again!</button>
		</form>
	</div>
</div>

<div class="container">
			
	<h2><%=Song.name%></h2>
	<audio src=<%= play%> controls autoplay>
	Your browser does not support the audio element.
	</audio>

	<div class="row">
		<% Song.playlist.forEach(function(song) { %>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"><%= song["name"] %></h5>
						<h6 class="card-subtilte"><%= song["artist"] %></h6>
						<form action="/playsong/<%=Song._id %>/<%=song._id %>" method="get">
							<input type="submit" class="btn btn-outline-success my-2 my-sm-0" role="button" value="play">
						</form>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<% include partials/footer %>